{% extends "layout.html" %}

{% block content %}

<div id="ask-password-form">
    <h2>این لینک دارای رمز عبور می باشد.</h2>
    <input type="password" placeholder=".. رمز عبور" style="margin-top: 20px;">
    <button id="go">برو</button>
    <p id="password-error"></p>
</div>

<script>
    $('#go').click(function() {
        url_id = '{{ url_id }}'
        $(this).html('<i class="fa fa-spinner fa-spin"></i>');
        error_el = $('#password-error');
        password = $('input').val()
        if (!password) {error_el.html('فیلد پسورد الزامی است !'); $(this).html('برو'); }
        config = {
            headers: {
                'X-CSRFToken': Cookies.get('csrftoken')
            }
        }
        axios.post(location.origin + `/api/v1/links/${url_id}/protected/`, {password:password}, config)
        .then(response => {
            $(this).html('برو');
            window.location.replace(response.data.longUrl);
        })
        .catch(error => {
            $(this).html('برو');
            error_el.html(error.response.data.error);
        });
    });
</script>

{% endblock %}