{% extends "layout.html" %}

{% load static %}

{% block content %}

    <script>
        if (!Cookies.get('UserToken')) location.replace('/');
    </script>

    <div id="settings-container">
        <script>$('#settings-container').prepend($(`<h1>خوش آمدید، ${localStorage['UserEmail']}</h1>`))</script>
        <hr>
        <div id="change-passwd-container">
            <h2>تغییر رمز عبور اکانت</h2>
            <p>برای تغییر رمز عبور، رمز عبور فعلی و جدید خود را وارد نمایید.</p>
            <input type="password" name="opassword" placeholder=".. رمز عبور فعلی">
            <input type="password" name="npassword" placeholder=".. رمز عبور جدید">
            <br>
            <button id="reset-password">تغییر</button>
            <p id="reset-password-response" class="settings-response"></p>
        </div>
        <hr>
        <div id="delete-account-container">
            <h2>حذف اکانت</h2>
            <p>توجه: با حذف اکانت تمامی لینک های شما به همراه آمار آنان حذف خواهند شد !</p>
            <p>برای حذف اکانت رمز عبور خود را وارد نمایید.</p>
            <input class="del-acc" type="password" name="password" placeholder=".. رمز عبور">
            <br>
            <button class="del-acc" id="del-acc">حذف</button>
            <p id="del-acc-response" class="settings-response"></p>
        </div>
        <hr>
        <div id="api-container">
            <h2>API</h2>
            <p>علاوه بر این وب سایت، می توانید از طریق api برای ایجاد، حذف و آمار گیری لینک های کوتاه اقدام نمایید.</p>
            <a href="https://github.com/erfanhs/tuky#api">مستندات</a>
            <p>توجه: به هیچ وجه این توکن را با کسی به اشتراک نگذارید !</p>
            <p>توجه: اگر می خواهید این توکن را در سایت خود استفاده نمایید ، به هیچ وجه آن را در کد های سمت کاربر ( js ) قرار ندهید.</p>
            <p>توجه: کاربر موظف است توکن را نزد خود محفوظ نگه دارد، در غیر این صورت ما هیچ گونه مسئولیتی در قبال سوء استفاده از توکن نداریم !</p>
            <p style="direction: ltr;">Api Token:</p>
            <div id="token-box"><script>document.write(Cookies.get('UserToken'))</script></div>
            <br><br>
            <button class="api-docs" onclick="location.replace('https://github.com/erfanhs/tuky#api');">مستندات api</button>
        </div>
    </div>

    <script src="{% static 'js/settings.js' %}"></script>

{% endblock %}
